.header-container {
    background-color: darkmagenta;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.left-padding-desktop {
    padding: 0px;
}

.left-padding-container {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
}

.routing-links-container {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-family: 'OpenSansRegular', 'sans-serif';
}

@media (min-width: 760px) {
    .header-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .routing-links-container {
        justify-content: left;
    }
    .left-padding-container {
        visibility:collapse;
    }
    .left-padding-desktop {
        padding-left: 16px;
    }
}


.title-container {
    background-color: peru;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.title-subcontainer {
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
    
}


.icon-container {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text-container {
    background-color: crimson;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Contrax', sans-serif;
    margin-top: 0px;    
    
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSansRegular.ttf') format('.ttf');
    font-weight: 40;
    font-style: normal;
}

@font-face {
    font-family: 'Contrax';
    src: url('fonts/Contrax.otf') format('opentype');
    font-weight: 40;
    font-style: normal;
}


.side-container {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.settings-container {
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 16px;
    padding-left: 16px;
}

